<%= partial 'index/header' -%>

<!-- Begin Main Content -->
<div class="main-content">
  <%= partial 'index/about_me' -%>

  <%= partial 'index/resume' -%>

  <%= partial 'index/services' -%>

  <%= partial 'index/skills' -%>

  <%= partial 'index/my_work' -%>

  <%= partial 'index/contact' -%>

</div>
<!-- End Main Content -->

<%= partial 'index/footer' -%>
